<div class="header-container">
  <nav class="navbar navbar-expand-lg bg-light d-block">
    <div class="d-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="#">
          <span>
            <img
              src="assets/images/logo-home.svg"
              height="25"
              width="25"
              alt=""
            />
          </span>
        </a>
      </div>
      <div>
        <a class="navbar-item" href="#">
          <span>
            <img
              src="assets/images/logo-linkedln.svg"
              height="25"
              width="25"
              alt=""
            />
          </span>
        </a>
        <a class="navbar-item" href="#">
          <span>
            <img
              src="assets/images/logo-instagram.svg"
              height="25"
              width="25"
              alt=""
            />
          </span>
        </a>
        <a class="navbar-item" href="#">
          <span>
            <img
              src="assets/images/logo-facebook.svg"
              height="25"
              width="25"
              alt=""
            />
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>
