<div class="basic-info-container">
  <div class="row m-0">
    <div class="col-md-12 col-lg-3 developer-section">
      <div class="developer-name">
        <h2>YASH</h2>
        <h2>JAIN</h2>
        <p class="developer-title">
          A UI Developer
        </p>
      </div>
    </div>
    <div class="col-md-12 col-lg-5">
      <div>
        <!-- <img src="assets/images/1.jpg" class="h-100 w-100 image-part" alt="yash-pic" /> -->
      </div>

    </div>

    <div class="col-md-12 col-lg-4 image-order">
      <div>
        <div class="image-part-section">
          <div>

          </div>
          <div class="filled-circle filled-circle-1"></div>
          <div class="filled-circle filled-circle-2"></div>
          <div class="filled-circle filled-circle-3"></div>
          <div class="filled-circle filled-circle-4"></div>
        </div>
        <div>
          <h4 class="some-detail">
            Based in Mumbai,
          </h4>
          <h4 class="some-detail">
            I'm a developer.
          </h4>
        </div>
        <div>
          <p class="some-description">
            I have a keen interest in exploring frontend technologies
            and build career by expanding knowledge for different tools and
            domnains.
          </p>
          <p class="email-id">
            <a href="mailto:jainyash0710@gmail.com">E: jainyash0710@gmail.com</a>
          </p>
        </div>
        <div class="btn-section">
          <a href="assets/files/Yash_Jain_Resume.pdf" download>
            <button class="btn btn-secondary download-cv-btn">
              <span> <img src="assets/images/download-button.svg" height="25" width="25" alt="" /></span>
              Download CV
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>