.basic-info-container {
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem 70%;
    background-image: url("../../../assets/images/1-bg.png");
}

.border-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-border div, .title-border div, .email-border div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 12px;
    border: 5px solid #d96846;
    background: black;
}

.border-line {
    width: 1%;
    height: 40px;
    flex-grow: 1;
    background: #d96846;
    margin: 0px 22px;
}
.download-cv-btn {
    background-color: #d96846;
}
.download-cv-btn:hover {
    background-color: #d96846;
    box-shadow: 3px 3px 3px green;
}
.download-cv-btn:active {
    background-color: #d96846 !important;
    border-color: green !important;
    box-shadow: 3px 3px 3px green;

}
.developer-name {
    padding-left: 2rem;
}
.developer-name h2 {
    font-size: 8rem;
    transform: translateY(3.5rem); 
}

h2:nth-child(1) {
    padding-left: 4rem;
}

h2:nth-child(2) {
    /* padding-left: 10rem; */
    line-height: 3rem;
    /* margin-top: -3rem; */
    padding-left: 9.4rem;
}
.developer-title {
    font-size: 24px;
    line-height: 1rem;
    color: #d96846;
    margin-top: -1.8rem;
}

.image-part {
    border-radius: 8px;
}
.image-part-section {
    display: flex;
    padding-bottom: 3em;
    padding-top: 3em;
}

.some-detail {
    font-size: 2rem;
    text-decoration: underline;
    color: #d96846;
}

.some-description {
    font-size: 18px;
    padding-right: 1em;
    padding-top: 24px;
} 

.filled-circle {
    margin: 24px;
    background: royalblue;
    border-radius: 50%;
}

.filled-circle-1 {
    width: 50px;
    height: 50px;
}

.filled-circle-2 {
    width: 40px;
    height: 40px;
}

.filled-circle-3 {
    width: 30px;
    height: 30px;
}

.filled-circle-4 {
    width: 20px;
    height: 20px;
}

.email-id a{
    color: #d96846;
    font-weight: 500;
}

.btn-section {
    text-align: center; 
    padding: 8px 0 24px;
}

@media only screen and (max-width: 991px) {
    .developer-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order: 1;
        padding-top: 2rem;
    }
    .developer-name h2 {
        font-size: 3.5rem;
        transform: unset; 
    }
    .some-detail {
        font-size: 1.8rem;
    }
    .image-order {
        order: 1;
    }
    .developer-name {
        padding-left: 0rem;
    }
    h2:nth-child(2) {
        line-height: 1rem;
        padding-left: 6.4rem;
    }
    .developer-title {
        font-size: 16px;
        line-height: 1rem;
        margin-top: -2.4rem
    }
    .image-part-section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .btn-section {
        text-align: right; 
        padding: 8px 50px 24px;
    }
}