<div class="basic-info-container">
  <div class="row">
    <div class="col d-flex">
      <!-- <div class="d-flex"> -->
      <!-- <div class="name-part">
          <h3>YASH</h3>
          <h3>JAIN</h3>
        </div> -->
      <img src="assets/images/yash.png" class="h-100 w-100 image-part" alt="yash-pic" />
      <!-- </div> -->
    </div>
    <div class="col">
      <div>
        <ul class="my-basic-info" style="list-style: none;">
          <li class="d-flex">
            <div>
              <div class="name-border">
                <div></div>
              </div>
              <div class="border-line">
              </div>
            </div>
            <div class="name-container">
              <p style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <span>Name: </span>
                <span>Yash Jain</span>
              </p>
            </div>
          </li>

          <li class="d-flex">
            <div>
              <div class="title-border">
                <div></div>
              </div>
              <div class="border-line">
              </div>
            </div>
            <div class="title-container">
              <p style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <span>Title: </span>
                <span>UI Developer</span>
              </p>
            </div>
          </li>

          <li class="d-flex">
            <div>
              <div class="email-border">
                <div></div>
              </div>

            </div>
            <div class="email-container">
              <p style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <span>Email: </span>
                <span>jainyash0710@gmail.com</span>
              </p>
            </div>
          </li>
        </ul>

      </div>
      <div class="btn-section" style="text-align: center; padding: 30px;">
        <button class="btn btn-secondary download-cv-btn">
          <span> <img src="assets/images/download-button.svg" height="25" width="25" alt="" /></span>
          Download CV
        </button>
      </div>
    </div>
  </div>