.basic-info-container {
    background: black;
    border-radius: 8px;
    color: white;
    margin-bottom: 25px;
}

.border-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-border div, .title-border div, .email-border div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 12px;
    border: 5px solid #d96846;
    background: black;
}

.border-line {
    width: 1%;
    height: 40px;
    flex-grow: 1;
    background: #d96846;
    margin: 0px 22px;
}
.download-cv-btn {
    background-color: #d96846;
}