<div class="basic-info-container">
  <div class="row">
    <div class="col-md-12 col-lg-5 developer-section">
      <div class="developer-name">
        <h2>YASH</h2>
        <h2>JAIN</h2>
        <p class="developer-title">
          A UI Developer
        </p>
      </div>
      <div class="btn-section" style="text-align: center; padding: 30px; margin-top: 10em;">
        <a href="assets/files/Yash_Jain_Resume.pdf" download>
          <button class="btn btn-secondary download-cv-btn">
            <span> <img src="assets/images/download-button.svg" height="25" width="25" alt="" /></span>
            Download CV
          </button>
        </a>
      </div>
      <!-- </div> -->
    </div>
    <div class="col-md-12 col-lg-7">
      <div>
        <img src="assets/images/yash.png" class="h-100 w-100 image-part" alt="yash-pic" />
      </div>

    </div>
  </div>