.app-container {
  background-image: url("../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-layout {
  padding: 50px;
}
@media only screen and (max-width: 768px) {
  .app-layout {
    padding: 25px;
  }
}

