.app-container {
  background-image: url("../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-layout {
  padding: 50px;
}
.layout-section {
  /* background-color: #2f3020;
  color: white; */
}
