<div class="app-container">
  <div class="container">
    <div class="layout-section">
      <div class="header">
        <app-header></app-header>
      </div>
      <div class="basic-info">
        <app-basic-info></app-basic-info>
      </div>
      <div class="about-me">
        <app-about-me></app-about-me>
      </div>
      <div class="resume">
        <app-resume></app-resume>
      </div>
      <div class="skills">
        <app-skills></app-skills>
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
