<div class="about-me-container">
  <h2>Hello, I'm Yash Jain. Nice to meet you!</h2>
  <p>
    You can also call me an Innovative Frontend Developer. Someone who loves to
    build scalable and maintainable Web Applications. I don't define myself by
    the work I've done rather I define myself by the work I want to do. Skills
    can be taught, personality is inherent. Learning is one the strengths which
    I prefer to continue throughout and keep challenging myself.
  </p>
  <p>
    Being the youth I am fueled by high energy levels and boundless enthusiasm.
    I'm easily inspired and willing to follow my fascinations wherever they take
    me. I'm a expressive, passionate with natural ability to inspire and
    motivate.
  </p>
  <p>
    Currently working with TCS as a UI developer and having keen interest in
    body building for which I hit the gym regularly.
  </p>
</div>
