<div class="about-me-container">
  <h2>Hello, I'm Yash Jain. Nice to meet you!</h2>
  <p>
    You can also call me an innovative front-end developer. Someone who loves to build scalable and maintainable web
    applications. I don't define myself by the work I've done, but rather I define myself by the work I want to do.
    Skills can be taught, personality is inherent. Learning is one of the strengths which I prefer to continue
    throughout and keep challenging myself.
  </p>
  <p>
    Being young, I am fueled by high energy levels and boundless enthusiasm. I'm easily inspired and willing to follow
    my fascinations wherever they take me. I'm an expressive, passionate person with a natural ability to inspire and
    motivate.
  </p>
  <p>
    Currently working with TCS as a UI developer.
  </p>
</div>