.about-me-container {
    background-color: #1f1f1e;
    color: white;
}
.about-me-container h2 {
    color: #d96846;
    margin: 0;
    padding: 25px;
}

.about-me-container p:nth-child(2) {
    margin: 0;
    font-size: 18px;
    padding: 0 25px;
}

.about-me-container p:nth-child(3) {
    margin: 0;
    font-size: 18px;
    padding: 25px;
}

.about-me-container p:nth-child(4) {
    margin: 0;
    font-size: 18px;
    padding: 0px 25px 25px;
}
