/* You can add global styles to this file, and also import other style files */
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li.slick-active button:before {
  color: #d96846 !important;
}

.slick-dots li button:before {
  color: #d96846 !important;
}
/* ng deploy --base-href=/yashjain/ */
/* .ionicon {
  border: 1px solid #d96846;
  background-color: black;
} */