<div class="resume-section">
  <ul>
    <li class="work-experience">
      <h5>Assistant System Engineer - Tata Consultancy Services</h5>
      <p>Time period</p>
      <p>
        Working as an innovative front end developer creating scalable
        applications using plane HTML CSS and Javascript, using frameworks like
        Angular and Adobe Magento CMS.
      </p>
    </li>
    <li class="education">
      <div>
        <h5>B.E. Information Technology</h5>
        <span>Oriental Institute of Science & Technology, Bhopal</span>
      </div>
    </li>
  </ul>
</div>
