<div class="resume-section">
  <h3>Resume</h3>
  <ul style="list-style: none;" class="mb-0">
    <li class="work-experience">
      <div class="d-flex">
        <div class="d-flex flex-column align-items-center">
          <div class="work-experience-logo">
            <img src="assets/images/logo-home.svg" height="30" width="30" alt="">
          </div>
          <div class="border-line"></div>
        </div>

        <div>
          <p class="work-label-heading">
            <span>Work Experience</span>
          </p>
        </div>

      </div>

      <div class="d-flex">
        <div class="border-section">
          <div class="border-circle">
          </div>
          <!-- <div class="border-line mt-0"></div> -->
        </div>
        <div class="work-experience-detail">
          <p class="work-label mb-0">Assistant System Enginner - TATA Consultancy Services</p>
          <p>Time period</p>
          <p>
            Working as an innovative front end developer creating scalable
            applications using plane HTML CSS and Javascript, using frameworks like
            Angular and Adobe Magento CMS.
          </p>
        </div>
      </div>

    </li>

    <li class="work-experience">
      <div class="d-flex">
        <div class="d-flex flex-column align-items-center">
          <div class="work-experience-logo">
            <img src="assets/images/logo-home.svg" height="30" width="30" alt="">
          </div>
          <div class="border-line"></div>
        </div>

        <div>
          <p class="work-label-heading">
            <span>Education</span>
          </p>
        </div>

      </div>

      <div class="d-flex">
        <div class="border-section">
          <div class="border-circle">
          </div>
          <!-- <div class="border-line mt-0"></div> -->
        </div>
        <div class="work-experience-detail">
          <p class="work-label mb-0">B.E. Information Technology - Oriental Institute of Science & Technology, Bhopal
          </p>
          <p>Time period</p>
        </div>
      </div>
    </li>
  </ul>
</div>