<div class="container">
  <div slickContainer #slickController="slick" [slickConfig]="config">
    <ng-container *ngIf="slickController.initialize">
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
      <div slickItem>
        <span>
          <img
            src="assets/images/logo-home.svg"
            width="50"
            height="50"
            alt=""
            srcset=""
          />
        </span>
      </div>
    </ng-container>
  </div>
</div>
