.slick-container {
    background-color: #1f1f1e;
    padding: 20px;
}

h3 {
    color: #d96846;
    text-decoration: underline;
    padding: 5px 5px 20px;
}

.slick-item {
    background-color: white;
    margin: 0 10px;
    border-radius: 4px;
    border: 5px solid #d96846;
    padding: 15px 0px;
}
.slick-container 
img {
    width: 50%;
    height: 50%;
    margin: auto;
}
