<div class="slick-container">
  <div>
    <h3>Skills</h3>
  </div>
  <div slickContainer #slickController="slick" [slickConfig]="config">
    <ng-container *ngIf="slickController.initialize">
      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-angular.svg" alt="" />
        </span>
      </div>

      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-typescript.svg" alt="" />
        </span>
      </div>
      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-javascript.svg" alt="" />
        </span>
      </div>
      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-github.svg" alt="" />
        </span>
      </div>
      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-bootstrap.svg" alt="" />
        </span>
      </div>
      <div class="slick-item" slickItem>
        <span>
          <img src="assets/images/logo-magento.svg" alt="" />
        </span>
      </div>
    </ng-container>
  </div>
</div>